* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid #b4befe;
  border-radius: 8px;
  background-color: #1e1e2e;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #1e1e2e;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #1e1e2e;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #1e1e2e;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: transparent;
  background-color: #1e1e2e;
}

#input image {
  border: none;
  color: transparent;
  background-color: transparent;
}

#input * {
  outline: 4px solid #f38ba8;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry {
  background-color: #1e1e2e;
}

#entry arrow {
  border: none;
  color: transparent;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid #b4befe;
  color: transparent;
  background-color: transparent;
}

#entry:selected #text {
  color: #cdd6f4;
  background-color: transparent;
}

#entry:selected image {
  background-color: transparent;
}

#entry:drop(active) {
  background-color: transparent;
}